go 1.20

use (
	./bc
	./clarity
	./fi
	./imle
	./jshttp
	./latte
	./merkle

	./multivm
	./qz
	./qz/vendor/github.com/arangodb/go-driver
	./qz/vendor/github.com/arangodb/go-velocypack
	./qz/vendor/github.com/pascaldekloe/jwt
	./shake
)
